<h1 class="mt-5">Libros</h1>
<div class="container">
    <table class="table text-center table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Compra</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books" [ngClass]="{'clearance': book.clearance}">
                <!-- books=coleccion del lado derecho y book=item de cada iteracion del lado izquierdo -->
                <td class="align-middle"><img [src]="book.image" [alt]="book.title" class="img-thumbnail imgTable"></td>
                <td class="align-middle">{{book.title}}</td>
                <td class="align-middle">{{book.author}}</td>
                <td class="align-middle">{{book.price | currency}}</td>
                <td class="align-middle"><span class="badge text-bg-warning" *ngIf="book.stock==0">SIN STOCK</span></td>
                <td class="align-middle">
                    <app-input-integer [(quantity)]="book.quantity"
                    [max]="book.stock"
                    *ngIf="book.stock"
                    (maxReached)="maxReached($event)"></app-input-integer>
                </td>
                <td class="align-middle">
                <button class="btn btn-outline-dark btn-agregar" (click)="addToCart(book)" ><i class="bi bi-cart-plus-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
