<div class="input-group">
  <div class="input-group">
    <div class="input-group-append">
      <button class="btn btn-dark" (click)="downQuantity()">-</button>
    </div>
    <input class="text-center" type="text" [(ngModel)]="quantity" (keyup)="changeQuantity($event)" />
    <!-- keyup = al tocar una tecla. $event captura la info de todo el evento y la interaccion del usuario -->
    <div class="input-group-append">
      <button class="btn btn-dark" (click)="upQuantity()">+</button>
    </div>
  </div>
</div>
